#foreach ($i in $packageQualifiedName)
$i##
#end;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
* @author yuechao 2018/4/29
*/
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class $classNameQualifiedName {

#foreach ($i in $columns)
    @Comment("$i.columnComment")
    private $i.dataType $i.columnName;

#end
}
