<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${namespace}Dao">

    <insert id="add${className}" keyProperty="id" useGeneratedKeys="true" >
        ${insert}
    </insert>


    <update id="update${className}">
        ${update}
    </update>


    <delete id="delete${className}ById">
        ${delete})
    </delete>

    <resultMap id="${entityName}Map" type="com.hll.concert.sm.role.${className}Entity">

        <id column="id" property="id"></id>
        #foreach($c in $resultMapList)<result column=${c.column} property=${c.property}></result>
        #end

    </resultMap>

    <select id="find${className}ById" resultMap="${entityName}Map">
        select $columns from ${tableName} where id = #{id}
    </select>

    <select id="findAll" resultMap="${entityName}Map">
        select $columns from ${tableName}
        <where>
            <if test="null neq id and '' != id">
                and id = #{id}
            </if>
            #foreach($c in $resultMapList)<if test="null neq ${c.property} and '' != ${c.property}">
                and code = #{${c.property}}
            </if>#end

        </where>
    </select>


</mapper>
