${packageName};

import com.hll.concert.common.PageResp;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
#if($hasDateType)import java.sql.Date;
#end
import java.util.List;

/**
 * @author yuechao 2018/4/29
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${className}QueryResp extends PageResp {

    private List<${className}Vo> records;


}
