$packageName

import com.hll.concert.common.Comment;
import lombok.Data;

import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import java.sql.Timestamp;

/**
 * @author yuechao 2018/4/29
 */
@Data
public class ${className}UpdateRequest {

#foreach ($i in $columns)
    @Comment("$i.columnComment")
#foreach($j in $i.annotations)
    $j
#end
    private $i.dataType $i.columnName;

#end
}