$packageName

import com.hll.concert.common.Comment;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.sql.Timestamp;

/**
* @author yuechao 2018/4/29
*/
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ${className}Vo {

#foreach ($i in $columns)
    @Comment("$i.columnComment")
    private $i.dataType $i.columnName;

#end
}
