<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hll.concert.sm.user.SmUserDao">

    <insert id="addSmUser" keyProperty="id" useGeneratedKeys="true" >
        insert into sm_user (organ_id, organ_code, organ_name, code, name, password, salt, phone, mail, level, verify_code, error_time) values (#{id}, #{organId}, #{organCode}, #{organName}, #{code}, #{name}, #{password}, #{salt}, #{phone}, #{mail}, #{level}, #{verifyCode}, #{errorTime})
    </insert>


    <update id="updateSmUser">
        update sm_user set organ_id = #{organId}, organ_code = #{organCode}, organ_name = #{organName}, code = #{code}, name = #{name}, password = #{password}, salt = #{salt}, phone = #{phone}, mail = #{mail}, level = #{level}, verify_code = #{verifyCode}, error_time = #{errorTime} where id = #{id}
    </update>


    <delete id="deleteSmUserById">
        delete from sm_user where id = #{id})
    </delete>

    <resultMap id="smUserMap" type="com.hll.concert.sm.role.SmUserEntity">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="name" property="name"></result>
        <result column="role_level" property="roleLevel"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <select id="findSmUserById" resultMap="smUserMap">
        select id, code, name, role_level, type from sm_role where id = #{id}
    </select>

    <select id="findAll" resultMap="smUserMap">
        select id, code, name, role_level, type from sm_role
        <where>
            <if test="null neq id and '' != id">
                and id = #{id}
            </if>

            <if test="null neq code and '' != code">
                and code = #{code}
            </if>

            <if test="null neq name and '' != name">
                and name = #{name}
            </if>

            <if test="null neq type and '' != type">
                and type = #{type}
            </if>

        </where>
    </select>


</mapper>
